body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    overflow-x: hidden;
}

.btn {
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: inherit;
    padding: 10px 32px;
    margin: 5px;
    color: black;
    font-size: 24px;
}