@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    overflow-x: hidden;
}

.container {
    background-color: #fafafa;
    padding: 50px;
    width: 100vw;
    min-height: 100vh;
    transform-origin: top left;
    transition: transform 1s linear;
}

.btn {
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    color: white;
}

.btn:hover {
    opacity: .8;
}

.btn:active {
    transform: scale(0.98);
}

.content img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555555;
    font-style: italic;
}

.content p {
    color: #333333;
    line-height: 1.5;

}

a {
    color: black;
}